@use 'var' as *;

* {
    margin: 0;
    padding: 0;
    font-family: $font;
}

.navbar {
    background-color: $navbarcolor;
    height: auto;
    width: 100%;

    ul {

        display: $display;
        @include margin;
        width: 85%;
        justify-content: flex-start;


        li {
            color: $licolor;
            font-size: 17px;
            font-weight: 300;
            list-style: none;
            margin: 1rem 0px;
            padding: 0.5rem;

            @include for-mid-phone-only {
                font-size: 13px;
            }
        }

        #layout {
            font-size: 21px;
            margin-right: 16px
        }

        @include for-mid-tablet-only {
            flex-direction: column;
            justify-content: center;

            li {
                font-size: 18px;
                @include margin;
                padding: 8px;
            }

            #layout {
                font-size: 18px;
                margin: auto
            }
        }

        @include for-big-phone-only {
            li {
                padding: 5px;
                font-size: 12px;

            }

            #layout {
                font-size: 14px
            }
        }

        @include for-small-phone-only {
            li {
                font-size: 11px;
            }

            #layout {
                font-size: 13px
            }
        }
    }
}

.container {
    margin: 61px auto;
    width: 84%;

    h4 {
        color: $h4color;
        font-size: 40px;
        font-weight: 400;

        @include for-mid-tablet-only {
            font-size: 34px;
            text-align: center;
        }

        @include for-small-tablet-only {
            font-size: 25px;
        }

        @include for-mid-phone-only {
            font-size: 18px;
        }
    }

    span {
        color: $spancolor;
        font-size: 26px;
        font-weight: 500;

        @include for-mid-tablet-only {
            font-size: 17px;
        }

        @include for-small-tablet-only {
            font-size: 14px;
        }

        @include for-mid-phone-only {
            font-size: 10px;
        }
    }

    .boxes-container {
        display: $display;
        flex-wrap: wrap;
        justify-content: space-between;

        .box {
            margin-top: 22px;
            margin-bottom: 15px;
            width: 32%;

            @include for-big-tablet-only {
                width: 48%;
            }

            @include for-mid-tablet-only {
                width: 100%;
            }

            .title {
                color: $titlecolor;
                font-size: 29px;
                margin-top: 10px;

                @include for-small-desktop-only {
                    font-size: 23px;

                }
            }

            .des {
                color: $discriptioncolor;
                font-size: 17px;
                margin-top: 8px;

                @include for-small-desktop-only {
                    font-size: 13px;

                }
            }

            img {
                @include image($h: fit-content, $w: 98%);
            }
        }

    }

    hr {
        background-color: $hrcolor;
        border: none;
        height: 1px;
        margin-top: 5px;
        width: 98.5%
    }

}

.footer {
    height: 60px;
    @include margin;
    width: 84%;

    .text {
        color: $footertextcolor;
    }
}