$display: flex;
$navbarcolor:#222;
$licolor:#efe0e0;
$h4color:#283342;
$spancolor:#7c7171;
$imgcolor:#ccc;
$titlecolor:#71b2e2;
$discriptioncolor:#4a5564;
$footertextcolor:#283342;
$hrcolor:#f3f0f0;
$font:'Montserrat', sans-serif;
@mixin margin {
    margin: auto;
}

@mixin image($h: auto, $w: auto) {
    height: $h;
    width: $w;
}